
<ion-content no-bounce>
        <ion-grid>
          <ion-row>            
    </ion-row>
    </ion-grid>
    <ion-img width="80" height="80" src="assets/mosaic-art.jpeg"></ion-img>
    <div>
    <video className="mosaicVid" id="video" webkit-playsinline playsinline autoplay loop>
        <source src="assets/finalmosaic.mp4" type="video/mp4">
    </video>
    <div className="login-div" style=" display: flex; flex-direction: column; justify-content: space-between;">
    
    <ion-item>
        <ion-label position="stacked">Login</ion-label>
        <ion-input placeholder="Username" type="text" inputmode="email" maxlength=20 minlength=3 style="height: 50px; width: 100px;" required="true" ></ion-input>
        <ion-input placeholder="Password" type="password"style="height: 50px; width: 100px;"></ion-input>
      </ion-item>
  </div>
    
    
    </div>
    <ion-img width="80" height="60" src="https://images.unsplash.com/photo-1553607174-cdf41a592250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"></ion-img>
    <ion-img width="80" height="60" src="https://images.unsplash.com/photo-1553563777-e7f319af6b47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80"></ion-img>
    <ion-img width="80" height="60" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"></ion-img>
    <ion-img width="80" height="60" src="https://images.unsplash.com/photo-1553607174-cdf41a592250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"></ion-img>
    <ion-img width="80" height="60" src="https://images.unsplash.com/photo-1553607174-cdf41a592250?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"></ion-img>
</ion-content>
